<footer class="c-page__footer">
  <p><a href="LICENSE.html">&copy;</a> {{ site.author }} Laszlo Treszkai {{ 'now' | date: '%Y' }}</p>
  <p>
    {% if site.twitter_username %}<a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>{% endif %}
    {% if site.github_username %}<span class="u-separate"></span><a href="https://github.com/{{ site.github_username }}">GitHub</a>{% endif %}
    {% if site.email %}<span class="u-separate"></span><a href="mailto:{{ site.email }}">Email</a>{% endif %}
  </p>
</footer>
