{% if page.katex %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-alpha/dist/katex.min.css" integrity="sha384-BTL0nVi8DnMrNdMQZG1Ww6yasK9ZGnUxL1ZWukXQ7fygA1py52yPp9W4wrR00VML" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-alpha/dist/katex.min.js" integrity="sha384-y6SGsNt7yZECc4Pf86XmQhC4hG2wxL6Upkt9N1efhFxfh6wlxBH0mJiTE8XYclC1" crossorigin="anonymous"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
        var macros_dict = { {% for x in site.latex_macros %}
            "{{ x[0] | replace: '\', '\\\\' }}": "{{ x[1] | replace: '\', '\\\\' }}" {% if forloop.last == false %} , {% endif %} {% endfor %}
            {% for x in page.latex_macros %} {% if forloop.first == true %} , {% endif %}
            "{{ x[0] | replace: '\', '\\\\' }}": "{{ x[1] | replace: '\', '\\\\' }}" {% if forloop.last == false %} , {% endif %} {% endfor %}
        };

        document.querySelectorAll("script[type='math/tex']").forEach(function(el) {
            el.outerHTML = katex.renderToString(el.textContent, { displayMode: false });
        });

        document.querySelectorAll("script[type='math/tex; mode=display']").forEach(function(el) {
            el.outerHTML = katex.renderToString(el.textContent.replace(/%.*/g, ''), { displayMode: true });
        });
    });
  </script>
{% endif %}
